.footer[data-v-25e5c4fd] {
    height: 58px;
    margin-top: -58px;
    color: hsla(0, 0%, 100%, 0.65);
    padding: 0 66px;
    text-align: center;
    table-layout: fixed;
    width: 100%;
    font-size: 0;
    position: relative;
}

.footer[data-v-25e5c4fd]:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.footer__link[data-v-25e5c4fd] {
    margin-right: 14px;
    transition: opacity 0.5s ease;
    color: hsla(0, 0%, 100%, 0.9);
    opacity: 0.75;
}

@media screen and (min-width: 1200px) {
    .footer__link[data-v-25e5c4fd]:hover {
        opacity: 1;
    }
}

.footer__links[data-v-25e5c4fd] {
    text-align: left;
}

.footer__container[data-v-25e5c4fd] {
    display: table-row;
}

.footer__copy[data-v-25e5c4fd],
.footer__dev[data-v-25e5c4fd],
.footer__links[data-v-25e5c4fd] {
    display: inline-block;
    vertical-align: middle;
    width: 33.33333%;
    font-size: 15px;
}

.footer__dev[data-v-25e5c4fd] {
    text-align: right;
    font-size: 10px;
    letter-spacing: 4px;
    color: hsla(0, 0%, 100%, 0.65);
    text-transform: uppercase;
}

.footer__dev a[data-v-25e5c4fd] {
    display: inline-block;
    color: #fff;
}

@media screen and (min-width: 1200px) {
    .footer__dev a[data-v-25e5c4fd]:after {
        content: "";
        display: block;
        height: 1px;
        background-color: #fff;
        width: calc(100% - 4px);
        margin-top: -2px;
        transform: scaleX(0);
        transition: transform 0.5s ease;
        transform-origin: 0 0;
    }

    .footer__dev a[data-v-25e5c4fd]:hover:after {
        transform: scaleX(1);
    }
}

@media screen and (max-width: 1200px) {
    .footer[data-v-25e5c4fd] {
        height: 90px;
        margin-top: -90px
    }

    .footer__link[data-v-25e5c4fd] {
        margin: 0 5px
    }

    .footer__copy[data-v-25e5c4fd],
    .footer__dev[data-v-25e5c4fd],
    .footer__links[data-v-25e5c4fd] {
        display: block;
        width: 100%;
        text-align: center;
        font-size: 14px
    }

    .footer__dev[data-v-25e5c4fd] {
        font-size: 11px;
        margin-top: 12px
    }

    .footer__copy[data-v-25e5c4fd] {
        margin-top: 11px
    }

    .footer[data-v-25e5c4fd]:before {
        display: none
    }
}